---
layout: default
title: Affiliates
description: Find other ways to get your dance fix, special offers for dancers, and more!
---

{% if site.data.affiliate_organizations %}
<h2>Organizations</h2>
<p>
    We aren't the only dance-oriented organization in Ann Arbor! There are many
    opportunities for you to learn different styles of dancing, including salsa,
    Argentine tango, and more. Check out the links below and fill up your week
    with more dancing!
</p>

<div class="row">
    {% for affiliate in site.data.affiliate_organizations %}
    <div class="col-sm-4 col-md-3">
        <div class="card">
            <div class="card-body">
                {% if affiliate.logo %}
                <a href="{{ affiliate.website }}" data-track="link:{{ affiliate.name }}" target="_blank" rel="nofollow">
                    <img class="img-fluid" src="/images/logos/{{ affiliate.logo }}" alt="{{ affiliate.name }} logo" />
                </a>
                {% endif %}
                <h3>{{ affiliate.name }}</h3>
                <p>{{ affiliate.description }}</p>
                {% if affiliate.website %}
                <a href="{{ affiliate.website }}" data-track="link:{{ affiliate.name }}" class="btn btn-primary" rel="nofollow" target="_blank">Website</a>
                {% endif %}
                {% if affiliate.schedule %}
                <a href="{{ affiliate.website }}/{{ affiliate.schedule }}" data-track="link:{{ affiliate.name }} schedule" class="btn btn-outline-secondary" rel="nofollow" target="_blank">Schedule</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

<h2>Special Offers</h2>
<!-- VEdance -->
<iframe
    scrolling="no"
    frameborder="0"
    src="https://www.vedance.com/index/partner-network/?layout=popup&code=U0P6ZZ0WVifb"
    style="border-width: 0px; width: 100%; height: 220px;">
</iframe>
