---
layout: default
title: Board
description: Get to know the people who dedicate their time and effort to The Ballroom Dance Club!
---

<h2>Members</h2>
<p>
    The board members are dedicated to making your experience positive, fun, and educational!
    If you have any questions at all, feel free to ask one of us at the next club event. If
    there's an urgent question or concern, <a href="mailto:bdc-inquiry@umich.edu" data-track="link:contact us">email us</a>!
</p>

<div class="row">
    {% for board_member in site.data.board %}
        {% include board_member.html %}
    {% endfor %}
</div>

<h2 class="mt-4">Documents</h2>
<p>
    We do our best to be transparent about our operations. That's why our meetings
    are generally open to members and why we provide meeting notes. We also
    conduct ourselves according to our constitution and bylaws. These are all available for you
    to read below!
</p>

<p>
    <a href="https://drive.google.com/open?id=0B-QfW01thXV2bHZYR2ZFd3VXYWs" class="btn btn-primary" target="_blank" data-track="link:view constitution">
        <i class="fas fa-file"></i>
        Constitution (PDF)
    </a>
    <a href="https://drive.google.com/open?id=0B-QfW01thXV2aU5ld3ZxaXNuTjA" class="btn btn-primary" target="_blank" data-track="link:view meeting minutes">
        <i class="fas fa-folder"></i>
        Meeting Minutes
    </a>
</p>
