---
layout: default
title: Board Members
description: Get to know the people who dedicate their time and effort to The Ballroom Dance Club!
---

<p>
    The board members are dedicated to making your experience positive, fun, and educational!
    If you have any questions at all, feel free to ask one of us at the next club event. If
    there's an urgent question or concern, <a href="mailto:bdc-inquiry@umich.edu">email us</a>!
</p>

<div class="row">
    <ul class="media-list">
        {% for board_member in site.data.board %}
            {% include board_member.html %}
        {% endfor %}
    </ul>
</div>
