<h2>Dances<small><a href="#dances" name="dances"><sup>&para;</sup></a></small></h2>

<p>
    One of the best things about ballroom dancing is the variety of styles you can do!
    Ballroom dances are split into four categories&mdash;two international styles and two American styles.
    Each style has four or five dances. Some styles have dances with the same name, but the dances
    themselves can be drastically different!
</p>
<p>
    There are plenty of dances that aren't strictly ballroom dances, such as hustle and West Coast swing.
    People often dance these at social events like weddings or clubs. There are also some popular traditional
    and folk dances like the Polka.
</p>
<p>
    Click on any of the dances below to read about them and watch a video to see
    what the dance looks like!
</p>

{% for style in site.data.dances %}
    <h3>{{ style.style }}</h3>

    <p>{{ style.description }}</p>
    <div class="row">
        <div class="col-md-4">
            <div class="panel-group" id="{{ style.style | slugify }}" role="tablist" aria-multiselectable="true">
                {% for dance in style.dances %}
                    {% assign dance_for_ids=dance.name | slugify %}
                    {% assign style_and_dance=style.style | slugify | append: '-' | append: dance_for_ids %}
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="{{ style_and_dance }}-label">
                            <h4 class="panel-title">
                                <a role="button" class="collapsed" data-parent="#{{ style.style | slugify }}" data-toggle="collapse" href="#{{ style_and_dance }}-desc" aria-expanded="false" aria-controls="{{ style_and_dance }}-desc">
                                    {{ dance.name }}
                                </a>
                            </h4>
                        </div>
                        <div id="{{ style_and_dance }}-desc" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{ style_and_dance }}-label">
                            <div class="panel-body">
                                <p>{{ dance.description }}</p>
                                {% if dance.youtube_video_id %}
                                    {% include youtube_video.html video_id=dance.youtube_video_id style=style.style dance=dance.name %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}
