<a href="mailto:bdc-inquiry@umich.edu" data-track="link:contact us">Contact Us</a>

<span class="mx-1">|</span>

<ul class="d-inline list-inline">
    <li class="d-inline">
        <a href="https://www.facebook.com/UMBDC"><i title="Facebook" class="fab fa-facebook-square"></i></a>
    </li>
    <li class="d-inline">
        <a href="https://instagram.com/umbdc"><i title="Instagram" class="fab fa-instagram"></i></a>
    </li>
</ul>

<span class="mx-1">|</span>

<small>Copyright &copy; {{ site.time | date: '%Y' }} The Ballroom Dance Club</small>
