<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsible-nav" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">The Ballroom Dance Club</a>
    </div>

    <div class="collapse navbar-collapse" id="collapsible-nav">
      <ul class="nav navbar-nav">
        <li><a href="#schedule">Schedule</a></li>
        <li><a href="#membership">Membership</a></li>
        <li><a href="#dances">Dances</a></li>
        <li><a href="#board">Board</a></li>
        <li><a href="#faq">FAQ</a></li>
      </ul>
      <a class="btn btn-primary navbar-btn navbar-right" href="http://eepurl.com/b0caij" rel="nofollow" target="_blank">
          <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Join Email List
      </a>
    </div>
  </div>
</nav>
