<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsible-nav" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">The Ballroom Dance Club</a>
    </div>

    <div class="collapse navbar-collapse" id="collapsible-nav">
      <ul class="nav navbar-nav">
          {% for nav_page in site.data.navigation %}
          <li{% if page.url == nav_page.url %} class="active"{% endif %}><a href="{{ nav_page.url }}">{{ nav_page.title }}</a></li>
          {% endfor %}
      </ul>
      <a data-track="button:Join Email List" class="btn btn-primary navbar-btn navbar-right hidden-sm" href="https://eepurl.com/b0caij" rel="nofollow" target="_blank">
          <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Join Email List
      </a>
    </div>
  </div>
</nav>
