<nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#collapsible-nav" aria-controls="collapsible-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="/images/logos/the-ballroom-dance-club-logo.png" height="30" alt="The Ballroom Dance Club logo">
        The Ballroom Dance Club
      </a>
    </div>

    <div class="collapse navbar-collapse" id="collapsible-nav">
      <ul class="navbar-nav mr-auto">
          {% for nav_page in site.data.navigation %}
          <li class="nav-item{% if page.url == nav_page.url %} active{% endif %}">
              <a class="nav-link" href="{{ nav_page.url }}">{{ nav_page.title }}{% if page.url == nav_page.url %}<span class="sr-only"> (current)</span>{% endif %}</a>
          </li>
          {% endfor %}
      </ul>
      <a
          data-track="button:Join Email List"
          class="btn btn-primary navbar-btn navbar-right hidden-sm"
          href="https://eepurl.com/b0caij"
          rel="nofollow noopener"
          target="_blank"
      >
          <i class="fas fa-envelope"></i> Join Email List
      </a>
    </div>
  </div>
</nav>
