---
layout: default
title: Friends and References
weight: 8
---

{% if site.data.friends %}
<h3>Friends</h3>
<ul>
{% assign friends = site.data.friends | sort: 'name' %}
{% for friend in friends %}
    <li>
        <a href="{{ friend.url }}" rel="nofollow" target="_blank">{{ friend.name }}</a>
    </li>
{% endfor %}
</ul>
{% endif %}

{% if site.data.references %}
<h3>References</h3>
<ul>
{% assign references = site.data.references | sort: 'name' %}
{% for reference in references %}
    <li>
        <a href="{{ reference.url }}" rel="nofollow" target="_blank">{{ reference.name }}</a>
    </li>
{% endfor %}
</ul>
{% endif %}