<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% seo %}
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/site.css" />
    </head>
    <body>
        <header>
        {% include header.html %}
        </header>
        <div class="container">
            <h1 class="page-header">{{ page.title|default:"The Ballroom Dance Club" }}</h1>
            <main>
            {{ content }}
            </main>
            <hr/>
            <footer>
            {% include footer.html %}
            </footer>
        </div>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
